.search {
    padding-inline-end: 44px;
    padding-inline-start: 52px;
    position: relative;
    width: 100%;
}

.prompt {
    font-size: 24px;
    text-align: center;
    padding: 15px;
}

.helper {
    text-align: center;
}