* {
    margin: 0 auto;
    padding: 0 auto;
}

.card {
    margin: 0px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 20px;
  width: 750px;

}